<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Reversi Game</title>
</head>
<body>
<div>
    <form method="post" th:object="${field}">
        <label for="size">Введите размер поля:</label>
        <input type="number" id="size" name="size" value="8" min="2" max="15"/>
        <button type="submit">Начать игру</button>
    </form>
</div>

<div th:if="${field.board}">
    <table>
        <tbody>
        <tr th:each="row, rowIter : ${field.board}">
            <td th:each="cell, colIter : ${row}">
                <div th:switch="${cell}">
                    <p th:case="'B'" style="background-color: black; border-radius: 50%; width: 50px; height: 50px;"></p>
                    <p th:case="'W'" style="background-color: white; border: 1px solid black; border-radius: 50%; width: 50px; height: 50px;"></p>
                    <p th:case="' '" style="background-color: green; border: 1px solid black; border-radius: 50%; width: 50px; height: 50px;"></p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
